.log .form {
    height: 500px;
    width: 490px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 2px 6px 16px 0px #003b95;
    margin-left: 44%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.log .logi {
    margin-top: 10%;
}

.log .logi h3 {
    text-align: center;
    color: #003b95;
    font-size: 5ch;
}

.log .values {
    margin-left: 10%;
    padding-top: 2%;
    font-size: large;
}

.log label {
    margin-top: 3%;
    color: #003b95;
    font-weight: bold;
    font-size: x-large;
}

.log input {
    height: 50px;
    width: 82%;
    margin-top: 3%;
    border-color: #003b95;
    color: #003b95;
    font-weight: bold;
}

.log .sub {
    margin-top: 8%;
    background-color: #003b95;
    color: black;
}
.log .sub:hover {
    background-color: white;
}
.log .for-get {
    background-color: white;
    color: #003b95;
    width: 70%;
    margin-left:15%;
}
.log .for-get:hover{
    background-color:black;
    color: #003b95;
}
.log .column {
    float: left;
    width: 49%;
    padding-top: 5px;
}

.log .row::after {
    content: "";
    clear: both;
    display: table;
}

.log .for{
    margin-top: 10%;
    height: 500px;
    width: 60%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #003b95;
    color:azure
}
.log .for12{
    margin-top: 35%;
    margin-left: 35%;
    color:azure

}