.Register form{
    height: 570px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-top: 2%;
    padding: 50px 35px;
}
.Register form *{
    font-family: 'Poppins',sans-serif;
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.Register form h3{
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}

.Register label{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.Register input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border-style: outset;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}
.Register ::placeholder{
    color: white;
}